<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myx.feng">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.myx.feng" />

    <permission
        android:name="getui.permission.GetuiService.com.myx.feng"
        android:protectionLevel="normal" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MDActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service android:name=".getui.DemoIntentService" />
        <!--
        <service
            android:name=".getui.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        -->

        <activity
            android:name=".getui.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recyclerviewdemo.RecyclerActivity"
            android:label="@string/title_activity_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvpdemo.MvpActivity" />
        <activity android:name=".cycleviewdemo.CyclerViewActivity" />
        <activity android:name=".nativeweb.NativeWebActivity" />
        <activity
            android:name=".Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bluetooth.BluetoothActivity" />
        <activity android:name=".FrescoTestActivity" />
    </application>

</manifest>